.hero {
  position: relative;
  overflow: hidden;

  &.gradient-bg {
    background-color: $surfgreen;
    background-image: linear-gradient(90deg, $surfgreen 0%, #9face6 100%);
  }

  &.gradient-bg-2 {
    background-color: #fad961;
    background-image: linear-gradient(90deg, #fad961 0%, #f76b1c 100%);
  }

  &.gradient-bg-3 {
    background-color: #fa8bff;
    background-image: linear-gradient(
      45deg,
      #fa8bff 0%,
      #2bd2ff 52%,
      #2bff88 90%
    );
  }

  img.hero-illustration {
    position: absolute;
    bottom: -30px;
    right: -20px;
    max-width: 100%;
    width: 150px;
    transition: 0.2s ease;

    @media screen and (min-width: 767px) {
      width: 250px;
    }
  }

  .title {
    position: relative;
    z-index: 1;
    text-shadow: 1px 1px #8c8c8c;
  }
}
