.post-loader-wrapper {
  width: 100%;

  div {
    background: #ebebeb;

    &.published-placeholder,
    &.author-placeholder,
    &.line {
      position: relative;
      overflow: hidden;

      &:before {
        content: "";
        width: 50%;
        height: 20px;
        background: rgba(255, 255, 255, 0.5);
        position: absolute;
        transform: skew(320deg, 360deg);
        background-repeat: no-repeat;
        top: 0;
        left: 0;
        transition: 0.5s ease;
        animation: text_loader 1.75s infinite;
      }
    }
  }

  .published-placeholder {
    width: 150px;
    height: 10px;
    margin-bottom: 8px;
  }

  .author-placeholder {
    width: 100px;
    height: 10px;
  }

  .multiline-wrapper {
    margin-top: 25px;
    margin-bottom: 8px;
    background: none;

    .line {
      width: 100%;
      height: 20px;
      margin-bottom: 16px;

      &:last-child {
        width: 50%;
        margin-bottom: 0;
      }
    }
  }
}
